<nav class="left-actionbar block-padding">
  <div class="left-actionbar-top-group">
      <div class="action-button">
        <i class="material-icons">developer_board</i>
      </div>
      <div class="action-button">
          <i class="material-icons">library_books</i>
      </div>
      <div class="action-button">
          <i class="material-icons">assignment_ind</i>
      </div>
      <div class="action-button">
          <i class="material-icons">settings</i>
      </div>
      <div class="action-button">
          <i class="material-icons">live_help</i>
      </div>    
  </div>
  <div class="action-button">
    <i class="material-icons md-18 orange600">attach_money</i>
  </div>
</nav>