<form>
  <div class="main-wrapper">
    <app-main-header></app-main-header>
    <section class="main-editor-wrapper">
      <app-left-actionbar class="asflex"></app-left-actionbar>
      <section class="main-toolset block-padding">
        <app-control-menu></app-control-menu>>
      </section>
      <section class="main-editor block-padding">
        <div class="editor-input-wrapper">
          <app-editor-inputport></app-editor-inputport>
        </div>
        <div class="editor-viewer-wrapper">
          <app-editor-viewport></app-editor-viewport>
        </div>
      </section>
      <section class="main-educational block-padding">
        <div class="edu-explanation">bla bla</div>
        <div class="edu-standards">bla bla</div>
        <div class="edu-quick-ref">bla bla</div>
      </section>
    </section>
  </div>
</form>