.editor-text-decor {
  border-bottom: 1px solid #b6b0b0;
  margin-top: 7px;
  margin-bottom: 7px;
  color: rgb(0, 0, 112);
}

#editor-viewer-input {
  background-color: #fff;
  width: 100%;
  border: 1px solid #000000;
  border-radius: 5px;
  flex:1;
}